/* Coolors Exported Palette - coolors.co/bfb48f-564e58-904e55-f2efe9-252627 */

/* RGB */
$color1: rgba(191, 180, 143, 1);
$color2: rgba(86, 78, 88, 1);
$color3: rgba(144, 78, 85, 1);
$color4: rgba(242, 239, 233, 1);
$color5: rgba(37, 38, 39, 1);
$color6: rgba(34, 116, 165, 1);

