body {
  margin: 0px;
  background-color: #efe5d5; /* Olympic Parchment Paper */
}

* {
  // font-family: sans-serif;
  // font-family: 'Cinzel Decorative', sans-serif;
  // font-family: 'Righteous', cursive, sans-serif;
  font-family: 'Cinzel Decorative', cursive;
  box-sizing: border-box;
}

.address-button {
  background-color: #06bee1; /* Cyan (Process) */
}

input {
  text-align: center;
  background-color: #fff;
}
