/*
Color Palette
https://coolors.co/1b065e-74776b-efe5d5-06bee1-db7093

An alternative, nice color palette:
https://coolors.co/bfb48f-564e58-904e55-f2efe9-252627
*/

@import 'variables';

body {
  margin: 0px;
  background-color: $color5;
}

* {
  font-family: sans-serif;
  // font-family: 'Cinzel Decorative', sans-serif;
  // font-family: 'Righteous', cursive, sans-serif;
  // font-family: 'Cinzel Decorative', cursive;
  box-sizing: border-box;
  color: $color4;
}

.address-button {
  background-color: $color3;
}

input,
select {
  text-align: center;
  background-color: #fff;
  color: $color5;
}

input[type='number'] {
  width: 50px;
}

button {
  border: none;
}

// Disable the arrows to increment / decrement numbers
input::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
