@import '../variables';

.ability-skills-container {
  // border: 1px solid black;
  margin: 5px;
  width: 500px;
  display: flex;
  justify-content: center;
  table {
    width: 100%;
  }
  td {
    text-align: center;
  }
  .skill-name {
    text-align: inherit;
    width: 120px;
  }
  .ability-skills-header {
    background-color: $color2;
  }
}
