@import '../variables';

.ability-score {
  * {
    color: $color5;
  }
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px;
  margin: 5px 20px 5px 20px;
  background-color: $color4;
  .ability-score-name {
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: $color5;
    color: $color4;
  }
  input[type="checkbox"]:checked {
    overflow: hidden;
    border-radius: 50%;
    background-color: red;
    color: red;
    // opacity: 0;
  }
  // .ability-save input[type="checkbox"] {
  //   overflow: hidden;
  //   border-radius: 50%;
  //   background-color: red;
  // }
}
