@import '../variables';

.ability-score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0px 10px 0px;
  background-color: $color4;
  .ability-score-name {
    color: $color5;
  }
  .ability-mod {
    color: $color5;
  }
}
