@import '../variables';

.combat-basics {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  padding: 0px 10px;
  button {
    color: $color5;
  }

  .row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
  }
}
