@import '../variables';

.hit-dice {
  background-color: $color4;
  padding: 0px;
  flex: 1;
  // width: 115px;
  // height: 115px;
  border: 2px solid $color6;
  border-radius: 10%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .num-dice-input {
    width: 25px;
    font-size: 12px;
  }
  .hit-dice-title {
    padding: 2px;
    width: 100%;
    text-align: center;
    background-color: $color5;
  }
  .hit-dice-total {
    color: $color5;
    text-align: center;
    word-wrap: break-word;
    margin: 2px;
    padding: 2px;
  }
  .hit-dice-form {
    select {
      padding: 0px;
    }
    option {
      color: $color5
    }
    button[type="submit"] {
      cursor: pointer;
      background-color: transparent;
      padding: 0px;
    }
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
  }
}
