@import '../variables';

.hit-points {
  * {
    color: $color5;
  }
  background-color: $color4;
  padding: 0px;
  flex: 1;
  // width: 115px;
  // height: 115px;
  border: 2px solid $color6;
  border-radius: 10%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  label {
    font-size: 8px;
  }

  .hit-points-title {
    padding: 2px;
    width: 100%;
    text-align: center;
    color: $color4;
    background-color: $color5;
  }

  .hit-points-editor,
  .current-hit-points,
  .max-hit-points {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hit-points-editor {
    justify-content: space-around;
    height: 100%;
    input {
      padding: 0px;
    }
  }
}
